// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

// CASPER & SARAH

$lilla:  #6a2976;
$lillaTrans: rgba(106, 41, 118, 0.5);
$lyslilla: #e9bcf1;
$orange: #f99c33;
$brun: #3e2516;
$brunTrans: rgba(62, 37, 22, 0.5);
$sort: #000000;
$hvid: #ffffff;
$graa: #666666;

$content-width: calc(50vw - 100px);
$content-width-mobil: 75vw;

@mixin sidemarginer{
  margin: 0 20px;
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

@font-face {
  font-family: 'Archer Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Archer Bold'), url('../fonts/Archer-Bold-Pro.woff') format('woff');
}

h1{
  font-family: 'Archer Bold';
  font-size: 24pt;
  font-weight: normal;
  text-align: center;
  color: $brun;
}

h2{
  font-family: 'Archer Bold';
  font-size: 12pt;
  font-weight: normal;
  color: $lilla;
  margin: 0;
  padding: 0;
}

//h3 er datoer på blog og events og lignende
h3{
  font-family: "Open Sans";
  font-size: 8pt;
  font-weight: normal;
  color: $lilla;
  @include sidemarginer;
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: "Open Sans";
  font-size: 10pt;
  color: $graa;
  @include sidemarginer;
}

a{
  text-decoration: none;
  color: $lilla;
  font-family: 'Archer Bold';


  transition: color 0.3s ease;
}

a:hover {
  color: $lyslilla
}

@mixin buttionMobile{
  background-color: $orange;
  text-align: center;
  cursor: pointer;
  border: 1px solid $orange;
  color: $hvid;
  text-decoration: none;
  width: auto;

  p{
    text-decoration-color: $hvid;
  }


}

@mixin buttonWeb{
  background-color: orange;
  text-align: center;
  cursor: pointer;
  border: orange;
  text-decoration-color: $hvid;

}



ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
  list-style: none;
  display: inline-block;

}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

b{
  color: $brun;
}

// CASPER & SARAH SLUT

//SARAH HOFMANN_______________________________________________
.aboutfaner{
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 30px;

  a {
    font-size: 14pt;
  }
}
//SARAH HOFMANN SLUT_________________________________________





//CASPER HAVELYKKE LARSEN______________________________________

.timeline{


  ul{
    padding: 50px 0;
    list-style-position: outside;

    li{
      display: block;
      background: $lilla;
      position: relative;
      margin: 0 auto;
      width: 5px;
      margin-left: 5vw;

      padding-bottom: 40px;
      list-style-type: none;

      &:last-child{
        padding-bottom: 7px;
      }

      &:before{
        content: '';
        background: $lilla;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 20px;
        height: 20px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }

      .hidden {
        opacity: 0;
      }

      .content{
        background: $lilla;
        position: relative;
        top: 7px;
        width: $content-width-mobil;
        padding: 2px;

        h2{
          padding: 10px 20px;
          text-align: center;
        }

        p {
          text-align: left;
          padding: 0 10px;
          margin: 5px 0 10px 0;
        }

        .image-container {
          position: relative;
          width: 100%;

          img {
            width: 100%;
          }
        }

        &:before{
          content: '';
          background: $lilla;
          position: absolute;
          top: 0;
          width: 38px;
          height: 5px;
        }
      }

      &:nth-child(odd) .content {
        left: 50px;
        background: white;
        //background: -webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
        //background: linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
        box-shadow:0 0 0 2px $lilla inset;
      }

      &:nth-child(odd) .content:before {
        left: -38px;
      }

      &:nth-child(even) .content {
        left: 50px;
        background: white;
        //background: -webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
        //background: linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
        box-shadow:0 0 0 2px $lilla inset;
      }

      &:nth-child(even) .content:before {
        left: -38px;
      }
    }
  }
}
// CASPER HAVELYKKE LARSEN SLUT_________________________________________



//SARAH HOFMANN_______________________________________________
.about1billede{
  margin-bottom: 20px;
}
.about1overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about1text{
  margin-top: 20px;
  margin-bottom: 20px;
}

.about1{
  width: 100%;
  height: auto;
}

.about2overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about2{
  width: 100%;
  height: auto;
}

.aboutindhold2{
 width: 100%;
}


.about2billedemobile{
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.about2text{
  margin-bottom: 20px;
  margin-top: 20px;
}

.about3overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about3{
  width: 100%;
  height: auto;
}

.about3billede{
  margin-bottom: 20px;
}

.about3text{
  margin-bottom: 20px;
  margin-top: 20px;
}

.about4overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about4{
  width: 100%;
  height: auto;
}

.about4text{
  margin-top: 20px;
  margin-bottom: 20px;
  
}

.about4billede{
  margin-top: 20px;
}

.beans1text {
  margin: 0 1vw;
}

.beans2text{

  text-align: center;
  margin-top: 20px;

}

.carrerstext{
  p {
    text-align: left;
  }
}

.carrerindhold{
  width: 100%;
  height: auto;
  justify-content: center;
}

.carrers1indhold{
  margin-top: 25px;
  padding-bottom: 25px;
  height: auto;
  background-color: $lilla;

}
.carrers1beskriv{

}


.carrers3indhold{
  margin-top: 25px;
  padding-bottom: 20px;
  background-color: $lilla;


}

.carrers3billede{

}

.carrers1titl{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.carrers1billede{

  max-width: 100%;

}

.carrerknap{
 @include buttionMobile;

}

.carrers2indhold{
  margin-top: 25px;
  padding-bottom: 25px;
  height: auto;
  background-color: $lilla;

}

.carrers2titl{

  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;


}

.carrers2billede{
  max-width: 100%;
}

.carrers3titl{

      margin-top: 20px;
      margin-left: 20px;

}

.jobknap{
 margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;

  a{
    font-family: "Open Sans";
    font-weight: bold;
    color: white;
  }
}



button {

  padding: 1rem 2rem;
  background: $orange;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $orange;
  border: 1px solid $orange;
  text-decoration-color: $hvid;
  width: auto;
  margin: 0 auto;


  p{
    text-decoration: none;
  }

}

button:hover,
button:focus {
  background: $lyslilla;
  border-color: $lyslilla;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
//SARAH HOFMANN SLUT________________________________________________


//CASPER HAVELYKKE LARSEN____________________________________________
.blogs {
  @include sidemarginer;
  display: grid;
}

.blogindlaeg-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100%);
}

.blogindlaeg {
  display: block;
  border: 2px solid $lilla;
  width: 100%;
  height: auto;
  margin-top: 20px;

  h2 {
    text-align: center;
    margin: 10px 15px 0 15px;
  }

  h3 {
    margin-top: 10px;
  }

  p {
    color: $lilla;
    margin-top: 5px;
    text-align: left;
  }

  a {
    margin: 10px 20px 20px 0;
    float: right;
  }
}

.blog-knap {
  @include buttionMobile;
  padding: 10px 30px;

  h2{
    margin: 0;
  }
}

.new-data {

}

.menu-sektions-overskrifter{
  font-size: 18pt;
  margin: 3vw 0 2vw 4vw;
  text-align: left;
}

.grid-layout {
  display: grid;
  background-color: $lilla;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 28vw);
  grid-gap: 5px;
  padding: 5px 10px;
}

.section-beverages-all {
  background-color: $lyslilla;
}

.grid-layout-drinks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(37, 21vw);
  grid-gap: 10px;
  width: 100%;
  padding: 10px;
  margin: 30px auto 0 auto;
  grid-auto-flow: dense;
}

.grid-layout-food {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, 21vw);
  grid-gap: 10px;
  width: 100%;
  padding: 10px;
  margin: 30px auto 0 auto;
  grid-auto-flow: dense;
}

.grid-layout-roasting {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 21vw);
  grid-gap: 10px;
  width: 100%;
  padding: 10px;
  margin: 30px auto 0 auto;
  grid-auto-flow: dense;
  p {
    font-size: 5vw;
    font-weight: bold;
    margin-bottom: 20px;
  }
}

.grid-layout-merch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 27vw);
  grid-gap: 10px;
  width: 100%;
  padding: 10px;
  margin: 30px auto 0 auto;
  grid-auto-flow: dense;
}

.gallery-item {
  display: flex;
  overflow: hidden;
  align-items: end;
  position: relative;

  img {
    position: absolute;
    width: 100%;
  }
}

.gallery-item-color{
  display: grid;
  z-index: 10;
  background-color: $lillaTrans;
  opacity: 0;
  transition: .5s ease;
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: end;
  padding-bottom: 2vw;

  p{
    color: white;
  }

  h2{
    color: white;
    margin: 0;
    padding: 0;
  }
}

.gallery-item-color:hover {
  cursor: pointer;
  opacity: 1;
  transition: .5s ease;
}

.gallery-item-1{
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.gallery-2-item-1 {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-2-item-2 {
  background-color: $orange;
}

.gallery-2-item-2:nth-child(5n) {
  background-color: $orange;
  grid-row: span 2;
}

.gallery-2-item-3 {
  grid-column: span 3;
  grid-row: span 3;
}



header {
  z-index: 1000;
  background-color: white;
  display: grid;
  height: 90px;
  border-bottom: 4px solid $lilla;
  grid-template-rows: auto auto;
  grid-template-columns: 30% auto 30%;
}

.logo-mobile-container {
  display: flex;
  grid-row: 1 / span 2;
  grid-column: 2 / span 1;
  width: 100%;
  height: 86px;
  justify-content: center;
  align-items: center;
}

.logo-mobile {
  z-index: 10;
  display: flex;
  width: 150px;
  margin: 0 auto;
}



.logo-web {
  display: none;
}

nav {
  z-index: 5;
  grid-row: 1 / span 2;
  grid-column: 1 / span 3;
  width: 100%;
  background-color: white;


  img {
    height: auto;
  }

  p {
    text-align: center;
  }

  i {
    font-size: 14pt;
  }

  hr {
    color: $lilla;
  }

  .toggle, [id^=drop] {
    display: none;
  }

  .toggle-about, [id^=sub-drop] {
    display: none;
  }

  .toggle {
    display: block;
    text-decoration: none;
    border: none;
    width: 30px;
    float: right;
    margin: 35px 10% 0 0;
  }

  .toggle-about{
    display: block;
    text-decoration: none;
    border: none;
    width: 100%;
    margin:0 0;
  }

  .toggle:hover {
    cursor: pointer;
  }

  ul {
    display: none;
    padding: 0;
    margin: 90px 0 0 0;
    list-style: none;
    position: relative;
  }

  ul li {
    margin: 0;
    display: inline-block;
    width: 100%;


  }

  a, h2{
    display: block;
    padding: 14px 7vw;
    font-size: 21pt;
    text-decoration: none;
    font-family: "Open Sans";
  }

  ul ul {
    display: none;
    position: absolute;
    top: 25px;
  }

  .menu-about{
    background-color: white;
    width: 100%;
    margin-top: 40px;
  }

  .menu-our-menu {
    background-color: white;
    width: 100%;
    margin-top: 120px;
  }

  .menu-blog {
    background-color: white;
    width: 100%;
    margin-top: 200px;
  }

}

.header-menu {
  display: none;
}

.sprog-header {
  display: none;
}

.main-404, .main-403 {
  display: grid;
  padding: 70px 15px;
  margin: 0 15px;

  a {
    text-align: center;
  }

  img {
    height: 300px;
    justify-self: center;
  }

  button{
    @include buttionMobile;
    font-size: 14pt;
    margin-top: 30px;
  }

}



footer {
  height: auto;
  width: 100%;
  background-color: $lilla;
  display: grid;
  grid-template-rows: 180px auto auto auto auto auto;
  grid-template-columns: 50% 50%;
  margin-top: 40px;

  h1 {
    color: white;
    grid-row: 2/ span 1;
    grid-column: 1 / span 2;
    margin: 0 0 20px 0;
    padding: 0;
  }
  h2 {
    color: $hvid;
    font-size: 14pt;
  }
  p {
    color: $hvid;
  }
}

.looking-partners-footer {
  display: flex;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 10%;
}

.some-footer {
  display: flex;
  grid-row: 1 / span 1;
  grid-column: 2/ span 1;
  justify-content: center;
  align-items: center;

  img {
    width: 50px;
    height: 50px;
    margin: 10px;
  }

}

.sala-store-location {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  text-align: center;
  margin-bottom: 20px;
  padding: 0 10%;

  h2 {
    color: $orange;
  }
}

.vincom-store-location {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  text-align: center;
  padding: 0 10%;
  margin-bottom: 20px;

  h2 {
    color: $orange;
  }
}

.bis-store-location {
  grid-column: 1 / span 2;
  grid-row: 5 / span 1;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 10%;

  h2 {
    color: $orange;
  }
}

.slideshow-index{
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 50vw;
}

.videoSlideshowcontainer {
  width: 100%;
  position: absolute;
  height: 50vw;
}

.videoSlideshow {
  display: none;
  height: 50vw;
}

.naeste, .forrige {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $lilla;
  background-color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.naeste {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.forrige:hover, .naeste:hover {
  background-color: rgba(0,0,0,0.5);
}



.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.videoSlideNumbertext {
  color: $hvid;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.responsive-video {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;

}

.responsive-video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  }

.videoSlideText {
  display: grid;
  position: absolute;
  color: white;
  width: 100%;
  align-self: center;
  justify-self: right;

  p {
    color: white;
  }

  button {
    padding: 3vw 4vw;
  }

  h1 {
    margin-bottom: 10px;
  }

}
// CASPER HAVELYKKE LARSEN SLUT_______________________________________


//SARAH HOFMANN_______________________________________________
.indexgalleriknap{
  justify-items: center;
  display: flex;
  margin: 0 auto;
  @include buttionMobile;
  padding: 1rem 2rem;
  background: $orange;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: $orange;
  text-align: center;
  cursor: pointer;
  border: 1px solid $orange;
  text-decoration-color: $hvid;
  width: auto;

  p{
    text-decoration: none;
  }

  button:hover,
  button:focus {
    background: $lyslilla;
    border-color: $lyslilla;
  }

  button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
  }

  button:active {
    transform: scale(0.99);
  }

}


.indexbilleder{
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.indexbillederoverst{
  display: flex;
  flex-direction: row;
  justify-content: center;

  img{
    height: 49vw;
    width: 50%;
  }
}

.indexbilledernederst{
  display: flex;
  flex-direction: row;
  justify-content: center;

  img{
    width: 50%;
    height: 49vw;
  }
}

.indexgalleritext{
  margin-left: 20px;
}



.indexgalleritext1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.indexgalleritext2{
  margin-top: 25px;
}


.videovideo{
  height: 54vw;

  iframe{
    width: 100%;
    height: 100%;
  }
}

.newsletter{
  height: 400px;
  width: 100%;
  background-image: url("../images/nhyedsbrevbaggrund.png");
  background-size: 100% 400px;
  background-position: center;
  margin-top: 20px;

  
}

.newsoverskrift{
  padding-top: 10px;
}

.newsknap{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
 
}

.newsform{

    display: flex;            
    justify-content: center;  
}

form{
  background-color: $hvid;
  width: 60%;
  height: auto;
  margin-top: 40px;
  border-color:$lilla;
  border: transparent;
  border-width: 0.08px;
  padding: 5px;
  
  p{
    text-align: center;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    font-size: smaller;
  }
}

input {

  background-color: $hvid;
  width: 100%;
  height: auto;
  padding: 5px;
  border: none;
  text-decoration-color: $lilla;
}


   p{                                      
     text-align: center;                   
     font-weight: lighter;                 
     font-family: 'Open Sans', sans-serif; 
     font-size: smaller;
     color: $lilla;
     text-decoration: none;
   }                                       


.copyright {
  grid-row: 6 / span 1;
  grid-column: 1 / span 2;

  p {
    margin: 10px 10px;
    color: $graa;
  }

}
//SARAH HOFMANN SLUT_____________________________________________


@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil

  //CASPER HAVELYKKE LARSEN__________________________________________
  .timeline ul li {
    margin: 0 auto;

    .content {
      width: 41vw;
    }



    &:nth-child(even) .content:before {
      left: auto;
      right: -38px;
    }

  }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }

  .blogindlaeg-container {
    grid-template-columns: repeat(auto-fit, 49%);
    grid-gap: 10px;

  }

  .videoSlideText {

    width: 50%;
    justify-self: right;

    h1{
      font-size: 30pt;
      margin-bottom: 30px;
    }

    button {
      padding: 2vw 3vw;
    }
  }
  //CASPER HAVELYKKE LARSEN________________________________________


}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  //CASPER HAVELYKKE LARSEN______________________________________
  h3 {
    font-size: 10pt;
  }

  h1{
    font-family: 'Archer Bold';
    font-size: 46pt;
    font-weight: normal;
    text-align: center;
    color: $brun;
  }

  h2{
    font-family: 'Archer Bold';
    font-size: 14pt;
    font-weight: normal;
    color: $lilla;
  }

  p{
    margin: 0; // Ingen ydre margen fra paragraffer
    padding: 0; // Ingen indre margen fra paragraffer
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
  }

  @mixin websidemargin{
    margin-left: 183px;
    margin-right: 183px;
  }

  .timeline ul li .content {

  }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
  //CASPER HAVELYKKE LARSEN SLUT__________________________________


  // SARAH HOFMANN________________________________________________
  .video{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .videovideo{
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;

    iframe {
      height: 500px;
      width: 889px;
    }
  }

  .newstext{
    margin-right: 70px;
    margin-left: 70px;
    margin-bottom: 10px;
  }



  .newsletter{
    
    width: 100vw;
    height: 450px;
    background-size: 100% 450px;

    p{
      margin-right: 90px;
      margin-left: 90px;
      margin-bottom: -10px;
    }

    form{
      margin-top: 20px;
    }
    
  }


 .newsoverskrift{


   h1{
     margin-bottom: 20px;
   }
 }

  .indexbillederoverst{
    height: auto;

    img{
      height: 100%;
    }
  }

  .indexbilledernederst{
    height: auto;

    img{
      height: 100%;
    }

  }


.indexgalleritext{

  flex-direction: row;
}

.indexgalleri{
  display: flex;
  margin: 0 183px;
  flex-direction: column;
  justify-content: normal;
}

  .indexgalleriogtext {
    display: flex;
    flex-direction: row;
  }

.indexgallerioverskrift{
  margin-top: 100px;
  width: 100%;
  justify-content: normal;
}

  //SARAH HOFMANN SLUT__________________________________________




  // CASPER HAVELYKKE LARSEN_____________________________________
  #worldmap {
    width: 100%;
    height: 500px;

  }
  // CASPER HAVELYKKE LARSEN SLUT__________________________________


  // SARAH HOFMANN_________________________________________________
.about1billede{
  width: 50%;
  height: 300px;
  display: inherit;
  overflow: hidden;
  position: relative;
  justify-content: center;

  img{
    height: auto;
    max-width: 500px;
    display: flex;
    position: absolute;
  }
}
  
.about1{
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  padding-top: 20px;
}

  .aboutone{
    display: block;
    width: 50%;
  }

 .aboutone{
   
 }

.about1text{
  height: auto;
  margin-bottom: -20px;
  padding-right: 40px;
}


  
  .about2billedemobile{
    display: flex;
    width: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    margin-top: -20px;

    img{
      height: auto;
      max-width: 500px;
      display: flex;
      position: absolute;
    }
  }

.abottwo{
  display: block;
  
  width: 50%;
}


  .aboutindhold2{
    display: flex;
    flex-direction: row-reverse;
  }


 .about2text{
   margin-bottom: -20px;
   padding-left: 40px;
 }

  .about3billede{
    display: flex;
    width: 50%;
    height: 280px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    margin-bottom: -2px;

    img{
      height: auto;
      max-width: 500px;
      display: flex;
      position: absolute;
    }
  }

  .abouttree{
    display: block;
    width: 50%;
   
  }


  .aboutindhold3{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

.about3text{
  margin-bottom: -20px;
  padding-right: 40px;

}

.about3overskrift{
  margin-top: 20px;
}

  .about4billede{
    display: block;
    width: 50%;
    height: 400px;
    overflow: hidden;
    margin-top: -20px;

  }

  .aboutfour{
    display: block;
    width: 50%;
  }


  .aboutindhold4{
    display: flex;
    flex-direction: row-reverse;
  }

  .about4text{
    margin-bottom: -20px;
    padding-left: 40px;
  }


.aboutindhold{
  @include websidemargin
}

  .beans1text {
    margin: 0 183px;
  }

  // SARAH HOFMANN SLUT___________________________________________


  // CASPER HAVELYKKE LARSEN______________________________________
  header {
    display: grid;
    grid-template-columns: 20% 30% 40% 10%;
    grid-template-rows: 50% 50%;
    height: 90px;
    width: 100%;
    border-bottom: 4px solid $lilla;
    align-items: stretch;
  }

  .logo-mobile {
    display: none;
  }

  .logo-web {
    z-index: 10;
    display: grid;
    grid-column: 1 / span 1;
    position: absolute;
    width: 100px;
    height: auto;
    margin: 15px 0 0 10%;
  }

  nav {
    display: none;
  }

  .header-menu {
    display: flex;
    width: 100%;
    height: auto;
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    justify-content: space-between;
    padding: 10px 0 0 0;

    h2{
      display: inline;
    }

    i {
      font-size: 10pt;
    }
  }

  .header-menu-menu {
  }


  .header-menu-menu-content, .header-menu-about-content, .header-menu-blog-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

    .menuHrLinje {
      color: $lilla;
      margin: 15px 0;
    }

    a {
      font-family: "Open Sans";
      font-size: 11pt;
    }
  }

  .header-menu-menu:hover .header-menu-menu-content {
    display: block;
  }

  .header-menu-about:hover .header-menu-about-content {
    display: block;
  }

  .header-menu-blog:hover .header-menu-blog-content {
    display: block;
  }

  .sprog-header {
    display: inline-flex;
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    width: 50px;
    align-self: start;
    justify-self: right;
    justify-content: space-between;
    padding-top: 15px;
  }
  // CASPER HAVELYKKE LARSEN SLUT____________________________________


  // SARAH HOFMANN__________________________________________________
.carrerstext{
  @include websidemargin;
}

  .carreroverst{
    display: flex;
    justify-content: space-between;
  }


.carrers1indhold{
  width: 40%;
  height: auto;
  margin-left: 100px;
  margin-right: 150px;
  padding-bottom: 20px;


  p{
    margin-left: 20px;
  }
}

  .carrers1billede{

  }

  .carrers2indhold{
    width: 40%;
    height: auto;
    margin-right: 150px;
    margin-left: 50px;

    p{
      margin-left: 20px;
    }

  }

.carrers3indhold{
  width: 40%;
  height: auto;
  margin-left: 100px;
  margin-right: 50px;
  padding-bottom: 20px;

  p{
    margin-left: 20px;
  }

  h2{
    margin-top: 20px;
    margin-left: 20px;
  }

}

  .carrerindhold{
    @include websidemargin;
  }

.carrernederst{
  display: flex;
  justify-content: space-between;
}

.carrers1indhold{
  margin-left: 100px;
}


  .carreroverst{
    margin-bottom: 50px;
  }
  // SARAH HOFMANN SLUT____________________________________________


  // CASPER HAVELYKKE LARSEN__________________________________________
  .blogindlaeg-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 32%);
    grid-gap: 10px;
  }

  .blogindlaeg {
    border: 2px solid $lilla;
    width: 100%;
    height: auto;
    margin: 20px 20px;

    h2 {
      text-align: center;
      margin-top: 10px;
    }

    h3 {
      margin-top: 10px;
    }

    p {
      color: $lilla;
      margin-top: 5px;
      padding: 0 15px;
    }

    a {
      margin: 10px 20px 20px 0;
      float: right;
    }
  }

  .blog-knap {
    @include buttionMobile;
    padding: 10px 30px;

    h2{
      margin: 0;
    }
  }


  .grid-layout {
    display: grid;
    background-color: $lillaTrans;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 15vw);
    grid-gap: 10px;
    padding: 10px 20px;
  }

  .gallery-item {
    z-index: 9;
    display: flex;
    overflow: hidden;
    align-items: end;
    position: relative;

    img {
      position: absolute;
      width: 100%;
    }
  }


  .gallery-item-1{
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
  }

  .grid-layout-drinks {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(19, 120px);
    grid-gap: 10px;
    width: 1070px;
    padding: 10px;
    margin: 30px auto 0 auto;
    grid-auto-flow: dense;
  }

  .grid-layout-food {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 120px);
    grid-gap: 10px;
    width: 1070px;
    padding: 10px;
    margin: 30px auto 0 auto;
    grid-auto-flow: dense;
  }

  .grid-layout-roasting {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 120px);
    grid-gap: 10px;
    width: 1070px;
    padding: 10px;
    margin: 30px auto 0 auto;
    grid-auto-flow: dense;
    p {
      font-size: 18pt;
      font-weight: bold;
      margin-bottom: 20px;
    }
  }

  .grid-layout-merch {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 160px);
    grid-gap: 10px;
    width: 1070px;
    padding: 10px;
    margin: 30px auto 0 auto;
    grid-auto-flow: dense;
  }

  .gallery-2-item-1 {
    grid-column: span 2;
    grid-row: span 2;
  }

  .gallery-2-item-2 {
    background-color: $orange;
  }

  .gallery-2-item-2:nth-child(3n) {
    background-color: $orange;
    grid-row: span 2;
  }

  .Hot-Caramel-Creme {
    grid-area: 1 / 7 / span 2 / span 2;
  }

  .Hot-brew {
    grid-area: 3 / 5 / span 2 / span 2;
  }

  .Macchiato {
    grid-area: 4 / 3 / span 2 / span 2;
  }

  .apple-Strawberry-Mint {
    grid-area: 3 / 7 / span 2 / span 2;
  }



  .slideshow-index{
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 46vw;
  }

  .videoSlideshowcontainer {
    width: 100%;
    position: absolute;
    height: 46vw;
  }

  .videoSlideshow {
    display: none;
    height: 46vw;
  }

  .videoSlideText {

    h1 {
      font-size: 46pt;
    }


    button {
      padding: 1rem 2rem;
    }
  }



  footer {
    height: auto;
    width: 100%;
    background-color: $lilla;
    display: grid;
    grid-template-rows: 180px auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 40px;

    h1 {
      color: white;
      grid-row: 2/ span 1;
      grid-column: 1 / span 8;
      margin: 0 0 20px 0;
      padding: 0;
    }
    h2 {
      color: $hvid;
      font-size: 14pt;
    }
    p {
      color: $hvid;
    }
  }

  .looking-partners-footer {
    grid-row: 1 / span 1;
    grid-column: 2 / span 3;
  }

  .some-footer {
    grid-row: 1 / span 1;
    grid-column: 5 / span 3;
    justify-content: center;
    align-items: center;

    img {
      display: inline-block;
      width: 60px;
      height: 60px;
      margin: 10px;
    }
  }

  .some-footer-fa-in {
    display: inline-block;
    height: 80px;
  }

  .some-footer-cu-tr {
    display: inline-block;
    height: 80px;
  }

  .sala-store-location {
    grid-row: 3/ span 1;
    grid-column: 2 / span 2;
  }

  .vincom-store-location {
    grid-row: 3 / span 1;
    grid-column: 4 / span 2;
  }

  .bis-store-location  {
    grid-row: 3 / span 1;
    grid-column: 6 / span 2;
  }

  .copyright {
    grid-row: 4 / span 1;
    grid-column: 1 / span 8;
  }
  //CASPER HAVELYKKE LARSEN SLUT_______________________________________

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  //CASPER HAVELYKKE LARSEN____________________________________________
  header {
    grid-template-columns: 20% 40% 30% 10%;
  }
  // CASPER HAVELYKKE LARSEN SLUT_________________________________________

}

@media print {
  // Alt der gælder for print specifikt
}