// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

$lilla:  #6a2976;
$lyslilla: #e9bcf1;
$orange: #f99c33;
$brun: #3e2516;
$sort: #000000;
$hvid: #ffffff;
$graa: #666666;

@mixin sidemarginer{
  margin: 0 20px;
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

@font-face {
  font-family: 'Archer Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Archer Bold'), url('../fonts/Archer-Bold-Pro.woff') format('woff');
}

h1{
  font-family: 'Archer Bold';
  font-size: 24pt;
  font-weight: normal;
  text-align: center;
  color: $brun;
}

h2{
  font-family: 'Archer Bold';
  font-size: 12pt;
  font-weight: normal;
  color: $lilla;
  margin: 0;
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: "Open Sans";
  font-size: 10pt;
  color: $graa;
  @include sidemarginer;
}



a{
  text-decoration: none;

}

@mixin buttionMobile{
  background-color: $orange;
  text-align: center;
  cursor: pointer;
  border: 1px solid $orange;
  text-decoration-color: $hvid;
  text-decoration: none;
  width: auto;

}



@mixin buttonWeb{
  background-color: orange;
  text-align: center;
  cursor: pointer;
  border: orange;
  text-decoration-color: $hvid;

}



ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
  list-style: none;
  display: inline-block;

}

.aboutfaner{
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;

}

b{
  color: $brun;
}

.about1billede{
  margin-bottom: 20px;
}
.about1overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about1text{
  margin-top: 20px;
  margin-bottom: 20px;
}

.about1{
  width: 100%;
  height: auto;
}

.about2overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about2{
  width: 100%;
  height: auto;
}

.about2billedemobile{
  margin-bottom: 20px;
  margin-top: 20px;
}

.about2text{
  margin-bottom: 20px;
  margin-top: 20px;
}

.about3overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about3{
  width: 100%;
  height: auto;
}

.about3billede{
  margin-bottom: 20px;
}

.about3text{
  margin-bottom: 20px;
  margin-top: 20px;
}

.about4overskrift{
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
}

.about4{
  width: 100%;
  height: auto;
}

.about4text{
  margin-top: 20px;
  margin-bottom: 20px;
}

.about4billede{
  margin-top: 20px;
}


.beans2text{

  text-align: center;

}

.carrerstext{
  margin: 0 20px;
}

.carrerindhod{
  margin: 0 20px;
}

.carrers1indhold{
  margin-top: 25px;
  width: 100%;
  height: auto;
  background-color: $lilla;
  padding: 20px;
}

.carrers1billede{
  width: 100vw;
  height: 200px;
}


// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil





}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  h1{
    font-family: 'Archer Bold';
    font-size: 46pt;
    font-weight: normal;
    text-align: center;
    color: $brun;
  }

  h2{
    font-family: 'Archer Bold';
    font-size: 18pt;
    font-weight: normal;
    color: $lilla;
  }

  p{
    margin: 0; // Ingen ydre margen fra paragraffer
    padding: 0; // Ingen indre margen fra paragraffer
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
  }

  @mixin websidemargin{
    margin-left: 183px;
    margin-right: 183px;
  }




.about1billede{
  width: 400%;
  height: 300px;
  display: inherit;
}
  
.about1{
  display: flex;
  flex-direction: row;
  height: auto;
}
  .aboutone{
    display: block;

  }
 .aboutone{
   margin-right: 10%;
 }

.about1text{
  height: auto;
}


  
  .about2billedemobile{
    display: block;
  }

.abottwo{
  display: block;
  margin-left: 10%;
}


  .aboutindhold2{
    display: flex;
    flex-direction: row-reverse;
  }






  .about3billede{
    display: inline-block;
    margin-left: 10%;
  }

  .abouttree{
    display: inline-block;
   
  }


  .aboutindhold3{
    display: flex;
    flex-direction: row;
  }





  .about4billede{
    display: block;
  }

  .abotfour{
    display: block;
  }


  .aboutindhold4{
    display: flex;
    flex-direction: row-reverse;
  }

.aboutindhold{
  @include websidemargin
}

}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}